body {
	font-family: ubuntu, Droid Sans, sans-serif;
	font-size: 12px;
	background-color: #050505;
	color: #eeeeee;
}

div.multicolumn ul {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}

/**
 * Don't put a column break inside an <li>
 */
ol li,
ul li {
	break-inside: avoid-column;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
}


ul#artistList,
ul#albumList {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul#artistList li,
ul#albumList li {
	margin-left: 3px;
}

ul#artistList li span.artist-title {
	margin-left: 3px;
	cursor: pointer;
}

/** To abbreviate text you need these properties and a width.
 * Note that elements probably need to be floated to pick up the width
 */
.abbreviated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul#albumList li span.album-title {
	max-width: 15em;
	float: left;
	clear: left;
	cursor: pointer;
}

.album-actions {
	font-weight: bold;
	cursor: pointer;
	float: right;
	margin-right: 4px;
}

#controls {
	background-color: #eeeeee;
	color: #050505;
	text-transform: uppercase;
	font-weight: bold;
	font-family: ubuntu, verdana, sans-serif;
}

#controls span {
	cursor: pointer;
}

#controls span.control-break {
	padding-left: 3px;
	padding-right: 3px;
	color: #cccccc;
}

